/* Base styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* This overrides any potential remaining Tailwind styles */
.w-6 {
  width: 1.5rem;
}

.h-6 {
  height: 1.5rem;
}

/* Any other utility classes that might be used in SVG components */
